*
{
    margin: 0;
    padding: 0;
}

#btn
{
    background-color: gray;
    color: white;
    padding: 10px;
    font-weight: 800;
    border: 0;
}
#inputs
{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}
#inp
{
    padding-right: 75px;
    margin-bottom: 5%;
}
#title
{
    display: flex;
    justify-content: center;
}
#boton
{
    display: flex;
    justify-content: center;
}